body{
    background-image: url('1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    
}

form{
    position: relative;
    animation-iteration-count: infinite;
    animation-name: animation1;
    animation-duration: 4s;
    padding:60px;
    margin:40px;
    margin-top: 10px;
    line-height:3;
    font-size:20px;
}
@keyframes animation1{
    0%{background-color: #fab1a0;}
    25%{background-color: #ffeaa7;}
    50%{background-color: #55efc4;}
    75%{background-color:#74b9ff;}
    100%{background-color: #cd84f1;}
}